@model Scheduler.Web.Models.ReportViewModels.WeekScheduleReportViewModel
@{
    Layout = "_ReportLayout";
} 

<div class="row">
    <div class="col-md-12 h3"><h3>@Model.Organization <small class="pull-right">@Model.WeekDescription</small></h3></div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr style="margin-top: 0px; margin-bottom: 20px;" />
    </div>
</div>

@foreach (var employee in Model.Employees)
{
    int maxShifts = employee.Days.Max(d => d.Shifts.Count);
    maxShifts = maxShifts == 0 ? 1 : maxShifts;

    var shiftHeight = 50 + ((maxShifts-1) * 70);

    <div class="row">
        <div class="col-xs-12">
            <h4 class="pull-left">
                @employee.FirstName @employee.LastName <small>(@employee.PhoneNumber)</small>
            </h4>
            <h4 class="pull-right">
                @employee.TotalShifts Shifts / @employee.TotalHours Hours
            </h4>
        </div>
    </div>

    <div class="row">
        @foreach (var day in employee.Days)
        {
            <div class="col-xs-2" style="width: 14.28571428571429%; border: 1px solid silver;">
                @day.Day
            </div>
        }
    </div>
    <div class="row">
        @foreach (var day in employee.Days)
        {
            var shiftIndex = 0;
            <div class="col-xs-2" style="width: 14.28571428571429%; border: 1px solid silver; min-height: @(shiftHeight)px;">
                @if (day.Shifts.Count == 0)
                {
                    <text>&nbsp;</text>
                }
                @foreach (var shift in day.Shifts)
                {
                    shiftIndex++;
                    if (shiftIndex > 1){
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                --------------
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            <small>@shift.Name<text> - </text>@shift.Category</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small>@shift.StartTime.ToString("t")<text> - </text>@shift.EndTime.ToString("t")</small>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div class="row" style="height:15px;">
        <div class="col-xs-12">
            &nbsp;
        </div>
    </div>
}
  
